*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   font-size: 13px;
   line-height: 1.5;
   text-align: center;
   color: rgb(22, 24, 26);
}

.container {
   width: 100%;
   max-width: 1500px;
   margin-inline: auto;
   padding-inline: .75rem;
}

.flex-center {
   align-items: center;
   justify-content: center;
}

[role="button"] {
   cursor: pointer;
}

.calendar {
   --cell-width: 100px;
   --cell-height: 34px;

   padding-block: .25rem;
   overflow-x: auto;
}

.calendar-row {
   max-width: max-content;
   margin-inline: auto;
   display: grid;
   grid-auto-flow: column;
   grid-auto-rows: max-content;
   grid-auto-columns: max-content;
}

.calendar-cell {
   width: var(--cell-width);
   min-height: var(--cell-height);
   padding: 2px 1px;
   display: grid;
   gap: 2px;
   border: solid #ddd;
   border-width: 1px 1px 0 0;
}

.calendar-header .calendar-cell {
   border-bottom-color: rgb(93, 131, 145);
}

.calendar-cell:first-child {
   border-left-width: 1px;
}

.calendar-row:last-child .calendar-cell {
   border-bottom-width: 1px;
}

.calendar-body-cell {
   grid-auto-flow: row;
   grid-auto-rows: var(--cell-height);
   grid-auto-columns: 100%;
}

.calendar-header .calendar-cell {
   min-height: 27px;
   height: 27px;
}

.calendar-cell--row-indicator,
.calendar-cell--col-indicator {
   width: 50px;
}

.calendar-header .calendar-cell,
.calendar-cell--row-indicator {
   align-items: center;
   background-color: rgb(235 239 241);
}

.calendar-cell--row-indicator {
   color: rgb(95, 105, 109);
   font-size: .7rem;
   text-transform: uppercase;
}

.calendar-header .calendar-cell:first-child {
   border-top-left-radius: 3px;
}

.calendar-header .calendar-cell:last-child {
   border-top-right-radius: 3px;
}

.calendar-body .calendar-row:last-child .calendar-cell:first-child {
   border-bottom-left-radius: 3px;
}

.calendar-body .calendar-row:last-child .calendar-cell:last-child {
   border-bottom-right-radius: 3px;
}

.lecture {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-inline: .25rem;
}

.lecture > * {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   line-height: 1.2;
}

.lecture-title {
   font-weight: 600;
}

.lecture-venue {
   font-size: 11px;
   opacity: .9;
}